.home-button,
.back-button {
    background-color: $blue;
    color: $white;
    margin: 15px 0; 
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: block;
    border: none;
    min-width: 75px;
    max-width: 162px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: $cyan;
        text-decoration: none;
        color: $white;
    }
}

.back-button {
    max-width: 76px;
    margin-top: 0;
}
